<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
		<!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- fontAwesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- GoogleFonts CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&family=Raleway&display=swap" rel="stylesheet">
    <!--Local stylesheet -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <title>CampFound</title>
</head>
	<body>
		{{!-- NAVBAR --}}
		<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
            <a id="nav-item" class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" id="nav-item" href="saved"><i class="fas fa-campground"></i> Visited Campgrounds</a>
                    <a class="nav-link" id="nav-item" href="wishlist"><i class="far fa-compass"></i> Wishlist</a>
                </div>
            </div>
            </div>
        </nav>
    </div>
    {{!-- JUMBOTRON --}}
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid cards">
            <div class="container">
                <img  id="logo"src="../assets/images/CampFoundLogo.png" class="img-fluid" alt="Logo with Tent">
            </div>
        </div>
    </div>
		{{{ body }}}
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
		<script src="../../assets/js/index.js"></script>
		<script src="../../assets/js/savedcampground.js"></script>
		<script src="../../assets/js/wishlist.js"></script>
	</body>
</html>
