 <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-centered">
                                <div class="card-header">
                                    <h5>404 Webpage not found</h5>
                                    <h5>Looks like you are in the wrong place</h5>
                                    <h5>Click one of the above links to get back to the right place.</h5>
                                </div>
                                {{!-- <a href="/update/{{id}}" class="btn">Edit</a> --}}
                                {{!-- <button class="delete-btn btn" data-id="{{id}}"> <i class="far fa-trash-alt"></i> Delete</button> --}}
                            </div>
                        </div>
                    </div>
                </div>