<div class="container-fluid button-wrapper">
    <div class="row justify-content-center">
        {{!--Favorite/Saved Campgrounds/Button --}}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-body hvrbox">
                <button type="button" class="btn btn-outline-primary saved-link hvrbox"onclick="document.location='savedcampground.html'">
                    <img class="hvrbox-layer_bottom" id="savedcamplogo" src="../assets/images/Visited.png" alt="Logo with Tent">
                </button>
                {{!-- Hover animation --}}
                <div class="hvrbox-layer_top hvrbox-layer_slidedown">
                <div class="hvrbox-text">
                    <a href="../assets/savedcampground.html">Click to view all of your favorite campgrounds!</a>
                </div>
                </div>
            </div>
        </div>
        {{!--Wishlist Logo/Button--}}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">>
            <div class="card-body hvrbox">
                <button type="button" class="btn btn-outline-primary wishlist-link" onclick="document.location='wishlist.html'">
                    <img class="hvrbox-layer_bottom" id="wishlistlogo" src="../assets/images/Wishlist.png" alt="Logo with Tent">
                </button>
                {{!-- Hover Info --}}
                <div class="hvrbox-layer_top hvrbox-layer_slidedown">
                <div class="hvrbox-text">
                    <a href="../assets/wishlist.html"> Click to view all of the places you'd love to go!</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>