<div class="container-wishlist">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    <div class="header-text">
                    <h3>I'd rather be camping.</h3>
                    <h5>Add all the amazing places you would love to go:</h5>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                    <div class="form-group">
                        <label for="name">Campground name: </label>
                        <input type="text" class="campName" placeholder="'Sand Dunes'">
                    </div>
                    <div class="form-group">
                        <label for="location">Campground location: </label>
                        <input type="text" class="campLocation" placeholder="'Southern Colorado'">
                    </div>
                    <div class="form-group">
                        <label for="description">Give a brief description of what you're looking forward to at this campground?</label>
                        <textarea type="text" class="campDescription" placeholder="I heard site 10 is where it's at, best view in the whole campground? Can't wait to check it out in the fall."></textarea>
                    </div>
                    <button type="submit" class="btn btn-default saveBtn save-btn">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <ul>
            {{#each campsite}}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card text-centered">
                            <div class="card-header">
                                <h5>Campground name: {{name}}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Location: {{location}}</p>
                                <p class="card-text">Description: {{description}}</p>
                            </div>
                            <button class="delete-btn" data-id="{{id}}">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </ul>
        </body>
    </div>
</div>    