body {
    background-image: linear-gradient(to bottom, #43533e, #30473c, #233b38, #1c2e30, #182125);
    padding:0;
    margin: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #182125;
    text-align: center;
    justify-items: center;
}
#nav-item {
    color:#fbb55e;
    font-family: 'Quicksand', sans-serif;
}
h5 {text-align: center;
}

.card-link{
    justify-content: center;
}
.jumbotron {
    background-image: url("../images/CampFound1.jpg");
    height:700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#logo{
    display:block;
    margin-left:auto;
    margin-right: auto;
}  

.card-body{
    background-color: #f9f2dc;
    text-align: center;
    border-radius: 12px;
    padding:20px;
    margin:20px;
    height:250px;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

button{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
}